## various notes to self 
NOTES.txt
HISTORY.txt
saved/
dpd/

## backups
*.*~
*.bak

## Latex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
doc/*.pdf
doc/*/*.pdf

## coq 
*.v.d
*.glob
*.vo
*.vos
*.vok

##ocaml 
_build/
extraction/*.ml
extraction/*.mli
extraction/STAMP
